<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <br/>
		<h1 class="text-center">todos</h1>
		<section class="well">
			<div class="input-group ">
			  <span class='input-group-addon'>
					{{input type='text'
            placeholder='What needs to be done?'
            value=newTitle
            enter='createTodo'}}
			  </span>
			</div>
				
			<div class="list-group-item">
	      {{todos-list todos=queriedTodos class='todo-list'}}
			</div>

      <footer class="footer">
        <span>
		      <strong>{{active.length}}</strong> {{inflection}} left
        </span>

				<div class="btn-group" role="group">
		    {{ link-to 'All'       'index' (query-params filter='all')       activeClass='selected' }}
		    {{ link-to 'Active'    'index' (query-params filter='active')    activeClass='selected' }}
		    {{ link-to 'Completed' 'index' (query-params filter='completed') activeClass='selected' }}
 
				</div>
	      <span class="btn btn-default pull-right">
					Clear completed (1)
	      </span>
      </footer>
		</section>

  </div>
  <div class="col-md-3"></div>
</div>
